<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="AzureSbNamespace" value="architectura-lpatterns2017" />
    <add key="AzureSbPath" value="mtservicebus" />
    <add key="AzureSbKeyName" value="RootManageSharedAccessKey" />
    <add key="AzureSbSharedAccessKey" value="[YOUR AzureSbSharedAccessKey]" />
    <add key="ServiceBusQueueName" value="MyQueue" />
  </appSettings>
</configuration>